@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600;700&display=swap');

*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}
:root{    
  --pseudo-backgroundcolor: #333;
}

html{
  scroll-behavior: smooth;
}
  
body{
  overflow-x: hidden;
  background: #eff4fd;
  transition: background-color .5s;
  font-family: 'Poppins', sans-serif;  
}
  
body::-webkit-scrollbar {
  width: 0px
}
  
body::-webkit-scrollbar-track {
  background: #eff4fd;
}
  
body::-webkit-scrollbar-thumb {
  background-color: #eff4fd;
  border: 3px solid #eff4fd;
  border-radius: 20px;
}
/* Darkmode */
.moon{
  opacity: 1;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 35px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: all 1s;
}
.sun{
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
  opacity: 0;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: all 1s;
}
.showEffects{
  opacity: 1;
  display: block;
  transform: rotate(360deg);
}
/* Darkmode/ */

/*  */
.navbar{
  position: fixed;
  top:50%; right:30px;
  transform: translateY(-50%);
  z-index: 1000;
}  
.navbar ul{
  list-style: none;
  padding:0; margin: 0;
}  
.navbar ul li{
  position: relative;
  text-align: right;
}  
.navbar ul li .dot{
  color:#fff;
  display: block;
  padding: 15px 0;
}  
.navbar ul li .dot span{
  letter-spacing: 1px;
  margin-right: 30px;
  opacity: 0;
}  
.navbar ul li:hover .dot span{
  opacity: 1;
}  
.navbar ul li .dot span::before{
  content: '';
  position: absolute;
  top:50%; right:0;
  transform: translate(7px, -50%);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  display: block;
}
.navbar ul li .dot::before,
.navbar ul li .dot::after{
  content: '';
  position: absolute;
  top:50%;
  border-radius: 50%;
  display: block;
  transition: .2s ease-out;
}  
.navbar ul li .dot::before{
  height:5px;
  width: 5px;
  border: 2px solid var(--pseudo-backgroundcolor);
  right:0;
  transform: translateY(-50%);
}  
.navbar ul li .dot.active::before,
.navbar ul li:hover .dot::before{
  border-color: #cc5803;
  background: #cc5803;
}
.navbar ul li .dot::after{
  height:15px;
  width: 15px;
  border: 2px solid #cc5803;
  right:-5px;
  transform: translateY(-50%) scale(0);
}  
.navbar ul li .dot.active::after,
.navbar ul li:hover .dot::after{
  transform: translateY(-50%) scale(1);
}

/* SECTION TOP */

#home{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100vw;
  max-width: 1200px;
  min-height: 100vh;
}
#home .infoTop{
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 800px;
  padding: 60px;
  transition: background-color .5s, color .5s;
}
#home .infoTop h1{
  font-size: 55px;
  color: #1F1300;
}
#home .infoTop span{
  color: #cc5803;;
}
#home .infoTop p:nth-child(2){
  font-size: 18px;
  color: #cc5803;
  font-weight: bolder;
  margin-top: -10px;
  margin-bottom: 20px;
}
#home .infoTop p{
  font-size: 18px;
  color: #1F1300;
  margin-bottom: 20px;
}
#home .infoTop .btn-download{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #1F1300;  
  transition: background-color .4s ease, transform .4s ease, box-shadow .4s ease;
}
#home .infoTop .btn-download:hover{
  background-color: #cc5803;
  transform: scale(102%);
  box-shadow: 0px 0px 10px #cc5803;
}
#home .infoTop a.btn-download{
  padding: 15px;
  font-size: 20px;
  color: #eff4fd;
  text-decoration: none;
}
#home .infoTop .boxImageTop{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  padding: 0 20px;
  margin-left: 700px;
  transform: translateY(-100px);
}

#home .infoTop span.shape{
  display: flex;
  position: absolute;
  z-index: -1;
  width: 400px;
  height: 400px;
  background: linear-gradient(90deg, rgba(204,88,3,1) 0%, rgba(255,193,94,1) 100%);
  border-radius: 78% 22% 43% 57% / 54% 59% 41% 46%;

}
#home .infoTop img {
  display: flex;
  width: 400px;
  height: 400px;
}
/* MEDIA QUERY SECTION TOP */
@media(max-width: 1200px){
  #home .infoTop .boxImageTop{
    margin-left: 500px;
  }
}

@media(max-width: 1050px){
  #home .infoTop .boxImageTop{
    display: none;
  }
}

@media(max-width: 500px){
  #home .infoTop{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #home .infoTop h1{
    text-align: center;
  }
}
/* MEDIA QUERY SECTION TOP / */
/* SECTION TOP /*/


/* SECTION ABOUT */
#about{
  width: 100vw;
  min-height: 100vh;
}
.infoAbout{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.infoAbout h1{
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: #cc5803;
  color: #eff4fd;
  padding: 20px;
}
.infoBox{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 40px auto;
  max-width: 1200px;
  height: auto;
}
.infoLeft{
  padding: 30px;
  width: 600px;
  text-align: justify;
  color: #1F1300;
}
.infoLeft p:first-child{
  text-align: center;
}
.infoLeft p{
  font-size: 16.5px;
  letter-spacing: 2px;
  line-height: 50px;
}
.infoLeft span{
  color: #cc5803;
  font-weight: bold;
}

.infoRight{  
  width: 600px;
  padding: 30px;
  user-select: none;
}
.infoRight .cardExp{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, .025);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, .2);
  padding: 30px;
  margin: 40px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  transition: all .3s, color .2s;
}
.infoRight .cardExp img{
  height: 45px;
  width: 45px;
}
.infoRight .cardExp:hover{
  transform: scale(105%);
  color: #fff;
}
.infoRight .cardExp:hover img{
  filter: invert(1);
}
.infoRight .cardExp:nth-child(3) img{
  filter: invert(0);
}
.infoRight .cardExp:nth-child(4) img{
  filter: invert(0);
}
.infoRight .cardExp:nth-child(1):hover{
  background-color: #E44D26;
  box-shadow: 0 5px 20px rgba(228, 77, 38, .5);
}
.infoRight .cardExp:nth-child(2):hover{
  background-color: #006EBA;
  box-shadow: 0 5px 20px rgba(0, 110, 186, .5);
}
.infoRight .cardExp:nth-child(3):hover{
  background-color: #E6C72F;
  box-shadow: 0 5px 20px rgba(230, 199, 47, .5);
  color: #000;
}
.infoRight .cardExp:nth-child(4):hover{
  background-color: #61DBFB;
  box-shadow: 0 5px 20px rgba(97, 219, 251, .5);
  color: #000;
}
.infoRight .cardExp .expFont{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}
/* SECTION ABOUT / */
/* MEDIA QUERY SECTION ABOUT  */
@media(max-width: 1250px){
  .infoAbout{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .infoBox{
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px;
  }
  .infoLeft{
    width: 100%;
    text-align: center;
  }
  .infoRight{
    width: 100%;
  }
}
@media(max-width: 400px){
  .infoBox{
    width: 100%;
    padding: 10px;
  }
  .infoLeft{
    width: 100%;
    text-align: center;    
  }
  .infoLeft p{  
    font-size: 14px;
  }
  .infoRight{
    width: 300px;
  }
}
@media(max-width: 300px){
  .infoBox{
    width: 100%;
    padding: 40px;
  }
  .infoLeft{
    width: 100%;
    text-align: center;
  }
  .infoRight{
    width: 200px;
  }
}
/* MEDIA QUERY SECTION ABOUT / */


/* SECTION PROJECT */
#project{
  width: 100vw;
  min-height: 100vh;
}

.infoProject{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.infoProject h1{
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #cc5803;
  color: #eff4fd;
}
.containerProject{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
}
.containerProject .projectImages a{
  display: flex;
  width: 450px;
  height: 280px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0px 40px rgba(0,0,0,.2);
  border: 1px solid white;
  transition: all .2s;
}
.containerProject .projectImages a:hover{
  transform: scaleY(105%);
  box-shadow: 0 0 30px rgba(204, 88, 3, .4);

}
.containerProject .projectImages img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
/* SECTION PROJECT */
/* MEDIA QUERY SECTION PROJECT / */

@media (max-width: 1250px) {
  .containerProject .projectImages a{
    width: 550px;
    height: 300px;
  }
}
@media (max-width: 600px) {
  .containerProject .projectImages a{
    width: 300px;
    height: 200px;
  }
}
@media (max-width: 500px) {
  .containerProject{
    margin: 20px auto;
  }
  .containerProject .projectImages a{
    width: 250px;
    height: 200px;
  }
}
@media (max-width: 400px) {
  .containerProject .projectImages a{
    width: 200px;
    height: 200px;
  }
}
/* MEDIA QUERY SECTION PROJECT / */


/* SECTION CONTACT */

#contact{
  width: 100vw;
  min-height: 100vh;
  background-image: url(images/zenitsuFooter.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}
#contact h1{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  padding: 20px;
  background-color: #cc5803;
  color: #eff4fd;
  font-size: 24px;
}
.infoContact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.infoContact .socialMidias{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255, .4);
  box-shadow: 0 0 70px rgba(0,0,0,.2);
  border: 1px solid rgba(204, 88, 3, .1);
  width: 600px;
  height: 400px;
  z-index: 2;
  margin-top: 200px;
  border-radius: 5px;
}
ion-icon{
  display: flex;
  font-size: 50px;
  margin: 0 20px;
  padding: 0 20px;
  color: #111;
  transition: transform .3s,color .2s;
}
ion-icon:hover{
  color: #cc5803;
  transform: scale(110%);
}
/* SECTION CONTACT /*/
/* MEDIA QUERY SECTION CONTACT  */


@media (max-width:500px){
  .infoContact .socialMidias{
    flex-direction: column;
    width: 70%;
    height: 350px;
  }
  ion-icon{
    margin-top: 40px;
    margin-bottom: 40px;
  }  
}
@media (max-width: 400px) {
  .infoContact .socialMidias{
    width: 60%;
    margin-top: 70px;
  }
}
/* MEDIA QUERY SECTION CONTACT / */


/* MEDIA QUERY FOOTER  */
footer{
  position: relative;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  padding: 20px;
}
footer a{
  color: #eff4fd;
  text-decoration: none;
  transition: color .2s;
}
footer a:hover{
  color: #cc5803;
}
/* MEDIA QUERY FOOTER / */
  

