*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    height: 100vh;
}
.boxContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 800px;
    height: 100vh;
    text-align: center;
}
.boxContent img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 1px solid #eee;
    margin: 0 auto;
}
.boxContent a{
    color: #fff;
    margin-top: 20px;
    text-decoration: none;
}
@media (max-width: 1000px){
    body{
        flex-direction: column;
    }
}